<p id="notice"><%= notice %></p>



    <div class="lists" role="main">
      <% @lists.each do |list| %>
      <div class="box">
        <h3><%= link_to list.title, list %></h3>
        <div class="list-buttons">
          <%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          <%= link_to 'Edit', edit_list_path(list), class: 'btn' %>
        </div>

        <div>
          <ul class="list-group">
            <% list.tasks.each do |task| %>
              <li class="list-group-item">
                <input class="toggle" type="checkbox" id="checkbox">
                <label for="checkbox"><%= task.title %></label>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>
      <div class="box">
        <h2><%= link_to 'New List', new_list_path %></h2>
    </div>
  </div>
